section#checkerboard
  .title
    h2
      span.bold-orange LOREM 
      span.dark-blue IPSUM
  .flex.flex-center.checkerboard-row-1
    .col-3.slide-down
      img.img(src="../assets/img1.jpg" alt="Woman with phone")
    .col-3.order-first
      .checkerboard-content
        h2 Lorem ipsum dolor artisan
        h3 Lorem ipsum dolor amet brooklyn
        p 
          | Lorem ipsum dolor amet crucifix pok pok pinterest, 
          | tbh bushwick williamsburg la croix tilde. Aesthetic 
          | kickstarter 3 wolf moon raw denim try-hard slow-carb, 
          | poutine. Vaporware truffaut church-key actually, pour-over 
          | quinoa. Leggings hot chicken letterpress roof party scenester.
          | Fingerstache jean shorts gastropub vape. Hella adaptogen actually
          | polaroid vape subway tile, cray literally flexitarian hell of chillwave. 
  .flex.flex-center.checkerboard-row-2
    .col-3.slide-down
      img.img(src="../assets/img2.jpg" alt="Computer screen graph")
    .col-3
      .checkerboard-content
        h2 Lorem ipsum dolor artisan
        h3 Lorem ipsum dolor amet brooklyn
        p 
          | Lorem ipsum dolor amet try-hard hot chicken cray occupy fashion 
          | axe wolf messenger bag af ennui pug. Snackwave schlitz taxidermy, 
          | photo booth gentrify shaman adaptogen. Migas coloring book taiyaki 
          | mlkshk literally kogi. Tousled blue bottle 8-bit fashion axe quinoa 
          | forage. Street art thundercats craft beer green juice VHS mustache 
          | taxidermy live-edge farm-to-table. Copper mug pok pok lo-fi +1, neutra 
          | ennui craft beer hella whatever. 
