section#data-copy
  .title
    h2
      span.bold-orange LOREM 
      span.dark-blue IPSUM
  .flex.flex-center
    .col-2.data-content
      p 
        | Lorem ipsum dolor amet bitters cronut thundercats succulents 
        | chia intelligentsia fanny pack locavore wayfarers. Next level mixtape 
        | helvetica, pabst ethical cred street art narwhal unicorn wolf. Mlkshk 
        | plaid synth tilde. Post-ironic whatever poutine readymade. Snackwave, 
        | freegan kombucha copper mug pinterest mlkshk. Occupy master cleanse 
        | food truck, DIY squid church-key umami tilde typewriter blue bottle.    
    .col-2.data-button
      .btn Button
  .flex.flex-center
    .col-1.level
      .percentage
        h4.percents 240%
        p.percent-data Lorem ipsum dolor sit farm-to-table pork belly 
      .percentage
        h4.percents 105%
        p Lorem ipsum dolor sit schlitz kinfolk mumblecore  
      .percentage
        h4.percents 159%
        p Lorem ipsum dolor sit kickstarter, tilde enamel  
      
          
