section#data-copy
  .data-title
    h2
      span.bold-orange LOREM 
      span.dark-blue IPSUM
  .flex.flex-center
    .col-2.data-content
      p At the edge of forever radio telescope gathered by gravity, trillion encyclopaedia galactica kindling the energy hidden in matter, shores of the cosmic ocean culture birth network of wormholes, in a vast cosmic arena across the centuries Euclid inconspicuous motes of rock and gas venture cosmos, permanence of the stars and billions upon billions upon billions upon billions upon billions upon billions upon billions.    
    .col-2.data-button
      .btn Button
  .flex.flex-center
    .col-1.level
      .percentage
        h4.percents 240%
        p lorem ipsom Hodor Hodor Hodor Hodor hold the door
      .percentage
        h4.percents 105%
        p lorem ipsom Hodor Hodor Hodor Hodor hold the door 
      .percentage
        h4.percents 159%
        p lorem ipsom Hodor Hodor Hodor Hodor hold the door 
      
          
