section#documents
  .flex.flex-center
    .col-2.document-media
      .media
        .media-left
          img.media-object(src="../assets/page-icon.svg" alt="Page icon")
        .media-body    
          p Tote bag fixie taxidermy wolf kinfolk la croix leggings axe man braid edison bulb kombucha.
      .media
        .media-left
          img.media-object(src="../assets/page-icon.svg" alt="Page icon")
        .media-body     
          p Trust fund fanny pack meggings, PBR&B paleo disrupt four dollar toast la croix.
    .col-2.document-media
      .media
        .media-left
          img.media-object(src="../assets/page-icon.svg" alt="Page icon")
        .media-body      
          p Tacos typewriter deep v, photo booth enamel pin polaroid. Affogato bitters, flexitarian tacos. 
      .media
        .media-left
          img.media-object(src="../assets/page-icon.svg" alt="Page icon")
        .media-body    
          p Health goth banh mi, cred pork belly readymade jean shorts brunch helvetica microdosing organic.
