section#hero
  .carousel-overlay
    .btn.cta(type="button" data-toggle="modal" data-target="#modal")
      img.envelope(src="../assets/envelope-icon.svg")
    .pulse
    .pulse2    
    .carousel-content.flex.flex-center
      .col-1
        h4.hero-image-text Lorem Ipsum Lorem Ipsum
        .btn Button
  .carousel-fill  
  .carousel.slide#hero-carousel(data-ride="carousel")
    ol.carousel-indicators
      li.indicators.active(data-target="#hero-carousel" data-slide-to="0")
      li.indicators(data-target="#hero-carousel" data-slide-to="1")
      li.indicators(data-target="#hero-carousel" data-slide-to="2")
    .carousel-inner
      .carousel-item.item.active
        img.d-block(src="../assets/hero-img.jpg" alt="Slide One, kids with megaphone")
      .carousel-item.item    
        img.d-block(src="../assets/hero-img-desk.jpg" alt="Slide Two, guy at desk with computer")
      .carousel-item.item    
        img.d-block(src="../assets/hero-img-phone.jpg" alt="Slide One, cell phone with graphics")        
    
