section#personalize
    .flex.flex-center
      .col-1.personalize-content
        h4 Lorem ipsum dolor amet palo santo jean shorts messenger bag 8-bit letterpress, health goth pop-up iceland. Twee keytar paleo gentrify, organic stumptown cleanse gluten-free pop-up.
  
