doctype
html
  head
    title Rooster Grin Front End Dev Test
    meta(name='viewport', content='width=device-width, initial-scale=1.0')    
    
  body
    .main
      h1.hero-image-text Hello World
      p This is text <br/>
      p This is also text
      
