// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
$roboto-font: 'Roboto', sans-serif;


// Colors
$dark-blue: #283647;
$blue: #1676DD;
$orange: #F36819;
$ochre: #F7931D;
$white: #FFF;
$light-grey: #EEE;


// Gradients
$blue-grad: linear-gradient(90deg, $blue, #0C4078);
$hero-grad: linear-gradient(90deg, #F36819, #000);
$orange-grad: linear-gradient(90deg, #F36819, #F6C24C);


// Shadow
$shadow: 0px 2px 4px rgba(#000, 0.5);
$shadow-long: 0 12px 5px -6px rgba(#000, 0.3);


// Body Style
body {
  font-family: $roboto-font;
  font-weight: normal;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

label {
  margin-left: 10px;
  color: $white;
  font-weight: normal;
  font-size: 16px;
}

.img {
  width: 100%
}

.page-wrapper {
  background: $white;
}


// Headings
.hero-image-text {
  font-size: 48px;
  color: $white;
  font-weight: bold;
  margin: 0;
}

.percents {
  font-weight: bold;
  font-size: 55px;
  letter-spacing: 2px;
}

.title {
  text-align: center;
  margin-top: 114px;
  margin-bottom: 52px;
}

.bold-orange {
  color: $orange;
  font-weight: bold;
}

.dark-blue {
  color: $dark-blue;
}

h1, h2 {
  font-size: 28px;
  color: $orange;
  margin: 0 0 4px 0;
}

h3 {
  font-size: 20px;
  letter-spacing: 2px;
  color: $ochre;
  margin: 0 0 36px 0;
}


// Plain Text
p {
  line-height: 20px;
  font-size: 14px;
  margin: 0;
}


// Buttons
.btn {
  background: $orange-grad;
  font-size: 16px;
  color: $white;
  width: 215px;
  height: 40px;
  letter-spacing: 2px;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  transition: transform .2s ease, box-shadow .2s ease;
  box-shadow: $shadow;

  &:hover {
    color: $white;
    background: $orange;
    box-shadow: $shadow-long;
    transform: scale3d(1.02, 1.02, 1.1);
  }

  &:active {
    transform: scale3d(1,1,1);
    box-shadow: $shadow;
    transition: transform .4s ease, box-shadow .2s ease;
  }
}


// Flex Classes
.flex {
  display: flex;
  flex-direction: row;
}

.flex-center {
  justify-content: center;
}

.order-first {
  order: -1;
}


// Custom Columns
.col-1 {
  width: 944px;
  margin: 0 10px;
}

.col-2 {
  width: 472px;
  margin: 0;
}

.col-3 {
  width: 50%;
  margin-right: 30px;
  opacity: 0;
  transition: all 1.75s ease;
  transform: translateY(75px);
}


// Break points
$break-full: 1440px;
$break-med: 944px;
$break-sm: 490px;

@media (min-width: $break-full) {
  .page-wrapper {
    width: $break-full;
    margin: 0 auto;
  }

  .carousel-overlay, .carousel-fill, footer {
    max-width: $break-full;
  }
}

@media (max-width: $break-med) {
  .flex {
    display: block;
  }

  .col-1 {
    max-width: 100%;
    margin: 0;
  }

  .col-2 {
    width: 100%;
    padding: 0 20px;
  }

  .col-3 {
    width: auto;
    margin: 0 20px;
  }
}

@media (max-width: $break-sm) {
  .title {
    margin: 50px 0;
  }
}
