
//--- Personalize Everything Section ---//


.personalize-content {
  text-align: center;
  height: 254px;
  padding: 90px 0;

  h4 {
    color: $white;
    font-size: 28px;
    line-height: 3.5rem;

    @media (max-width: 609px) {
      font-size: 24px;
      line-height: 2.6rem;
    }

    @media (max-width: $break-sm) {
      font-size: 22px;
    }
  }

  @media (max-width: $break-med) {
    padding: 70px 20px;
  }

  @media (max-width: $break-sm) {
    padding: 65px 10px;
  }
}

#personalize {
  margin-top: 10px;
  background: url('../assets/slanted-gradient-background.svg') no-repeat center center;
  background-size: cover;
  box-shadow: 2px 6px 6px -3px rgba(#000, 0.5);
}
