
//--- Data-Copy Section ---//


.data-button {
  text-align: center;

  .btn {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
      transform: translateY(-50%) scale3d(1.02,1.02,1.1);
    }
  }
}

.level {
  margin-top: 114px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;

  .percentage {
    width: 142px;

    p {
      color: $orange;
    }
  }
}

.percents::after {
  content: "%"
}

@media(max-width: $break-med) {
  .data-title {
    margin-top: 52px;
  }

  .data-button > .btn {
    transform: none;
    margin-top: 52px;

    &:hover {
      transform: scale3d(1.02,1.02,1.1)
    }
  }

  .level {
    margin-top: 52px;
    padding: 0 20px;
  }
}

@media(max-width: $break-sm) {
  .data-content {
    text-align: center;
  }

  .level {
    flex-direction: column;

    .percentage {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      margin-bottom: 36px;
      text-align: left;
    }

    p {
      margin-left: 20px;
    }
  }

  .percentage:last-child {
    margin-bottom: 0;
  }
}
