
.carousel-item.item {
  max-height: 509px;
  img {
    max-width: 100%
  }
}

.carousel-indicators {
  bottom: -50px;

  li, .active {
    border: 1px solid $dark-blue;
    margin: 0 7px;
    height: 10px;
    width: 10px;
  }
  .active {
    background-color: $dark-blue;
  }
}

.carousel-inner {
  margin-bottom: 50px;
}
