#documents {
  margin-top: 107px;
}

.col-2.document-media {
  width: 517px;
  padding: 0 45px;

  @media (max-width: $break-med) {
    width: 100%;
    padding: 0 10px;
  }
}

.media-left {
  padding-right: 50px;
}

.media:not(:last-child) {
  margin-bottom: 50px;
}

@media (max-width: $break-med) {
  .media {
    margin: 0 20px 50px 20px;
  }

  .media-left {
    padding-right: 25px;
  }

  .media-body {
    padding-right: 10px;
  }
}

@media (max-width: $break-sm) {
  .media {
    margin-right: 0;
    margin-left: 0;
  }
}
