doctype
html
  head
    title Rooster Grin Front End Dev Test
    meta(name='viewport', content='width=device-width, initial-scale=1.0')    
    
  body
    include includes/nav.pug
    include includes/carousel.pug
    include includes/documents.pug
      
    .modal.fade#modal(tabindex="-1" role="dialog" aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            p.modal-title This is the title
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true")
          .modal-body
            p content
          .modal-footer
            button.btn.btn-secondary(type="button" data-dismiss="modal") Close        
      
