doctype
html
  head
    title Rooster Grin Front End Dev Test
    meta(name='viewport', content='width=device-width, initial-scale=1.0')    
    
  body
    include includes/nav.pug
    .page-wrapper
      include includes/hero.pug
      include includes/documents.pug
      include includes/personalize.pug
      include includes/data-copy.pug
      include includes/checkerboard.pug
      include includes/footer.pug
      include includes/modal.pug       
      
